/* start variables */
:root{--main-color:#19c8fa;}
:root{--transparent-color:rgb(15 116 143 / 70%);}
:root{--main-padding:50px;}
/* end variables */
/* start glopal rules */
*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
/* small */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}
/* mediam */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}
/* small */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
.main-heding{
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 32px 0;
}
.main-heding::before{
        position: absolute;
        content: "";
        width: 70%;
        height: 2px;
        bottom: 0;
        background-color: black;
        left: 15%;
}
.main-heding::after{
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    bottom: -8px;
    border: 2px solid;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}
.main-heding +p{
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
    line-height: 32px;
    color: #777;
}
/* end glopal rules */  
/* start header */ 
.header{
    position: absolute;
    z-index: 1;
    width: 100%;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 97px;
    position: relative;
}
.header .container::before{
    content: "";
    position: absolute;
    bottom: -1px;
    width: calc(100% - 40px);
    height: 1px;
    background-color: #fff;
    z-index: -1;
}
.header .container .logo img{
    height: 40px;
}
.header .container .logo .none{
    display: none;
}
.header .container .links{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .container .links ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .container .links .menu{
    position: relative;
}

.header .container .links .menu span{
    width: 20px;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: 4px 0;
    display: none;
    transition: 0.3s;
}
.header .container .links .menuActive{
    width: 21px;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: 2px solid red;
}
.header .container .links .menuActive span:first-child{
    display: none;
}
.header .container .links .menuActive span:nth-child(2){
    margin: 0;
    top: 0px;
    transform: rotate(-45deg);
    background-color: red;
    height: 2px;
}
.header .container .links .menuActive span:last-child{
    display: none;

}
.header .container .links ul li a{
    text-decoration: none;
    padding: 40px 10px;
    color: #fff;
    display:block;
    transition: 0.2s;
}
.header .container .links ul li:first-child a{
    border-bottom: 1px solid var(--main-color);
    color:var(--main-color); 
}
.header .container .links ul li a:hover{
    border-bottom: 1px solid var(--main-color);
    color:var(--main-color);
    
}
.scroller{
background: linear-gradient(90deg, #7dbeb8, #10cab7);  width: 0;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
/* small */
@media (max-width:768px) {
    .header .container .logo img{
    display: none;
    }
    .header .container .logo .none{
    display: block;
    }
    .header .container .links .menu span{
        display: block;
    }
    .header .container .links ul{
        position: absolute;
        top: 180%;
        background-color: rgb(0 0 0 / 50%);
        width: 100%;
        left: 0;
        opacity: 0;
        z-index: -1;
        transition: 0.3s;
        display: block;
    }
    .header .container .links ul li a{
        width: 100%;
        position: relative;
        padding: 15px;
        border-bottom: 1px solid black;
    }
    .header .container .links .active{
    opacity: 1;
    z-index: 1;
    top: 100%;
    
}
}
.header .container .links .serch{
    width: 41px;
    height: 33px;
    position: relative;
    border-left: 1px solid #fff;
    margin-left: 20px;
    text-align: center;
}
.header .container .links .serch i{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}
.header .del{
    width:0 !important;  
    pointer-events: none;
}
.del i{
        right: -27px;
        color: #777;
}
.inpSerch{
    padding-left: 35px;
    height: 100%;
    font-size: 25px;
    max-width: 165px;
    color: #000;

}
/* end header */
/* start landing */
.landing{
    height: 100vh;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}
.landing img{
    width: 100%;
    opacity:0;
    height: 100vh;
    position: absolute;
    z-index: -2;
    transition: 1s;
}
.landing > .active{
    right: 0px;
    z-index: -1;
    width: 100%;
    opacity: 100%;
}   
.landing::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    top: 0;
    left:0px;
}
.landing .content{
    position: absolute;
    top: 50%;
    left: 0px;
    background-color: var(--transparent-color);
    transform: translatey(-50%);
    width: 50%;
    display: flex;
    justify-content: flex-end;
    padding: 50px;
}
.landing .scrol i:first-child{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translatey(-50%);
    color: #fff;
    padding-right: 30px;
    font-size: 25px;
}
.landing .scrol i:last-child{ 
position: absolute;
top: 50%;
left: 0;
transform: translatey(-50%);
color: #fff;
padding-left: 30px;
font-size: 25px;
}
.landing ul{
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    list-style: none;
    transform: translateX(-50%);
}
.landing ul li{
    transition: 1s;
    margin-left: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding-top: 2px;

}
.landing ul .active{
    background-color: var(--main-color);
}
.landing .num{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.01);
    top: 20%;
    left: 10%;
    color: #FFF;
    border-radius: 50%;
}
/* small */
@media (max-width:768px) {
    .landing .content{
        width: 100%;
        justify-content: flex-start;
    }
    .landing .scrol i{
        display: none;
    }
}
.landing .content .text{
    max-width: 500px;
}
.landing .content .text h2{
    line-height: 50px;
    font-size: 32px;
    color: #fff;
    font-weight: normal;
    padding-bottom: 20px;
}
.landing .content .text p{
    line-height: 25px;
    color: #fff;
    font-size: 14px;


}
/* end landing */  
/* start services */  
.services{
    padding-top: var(--main-padding);
    opacity: 0;
    transition: 1.5s;
}

.services .container .content{
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.services .container .content .col{
    flex-basis: 45%;
}
.services .container .content .col .srv{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 70px;
}
/* small */
@media (max-width:768px) {
    .services .container .content .col{
        flex-basis: 100%;
        text-align: center;
    }
    .services .container .content .col .srv{
        flex-direction: column;
        align-items: center;
        
    }
}
.services .container .content .col .srv i{
    flex-basis: 20%;
    margin-bottom: 20px;
}
.services .container .content .col .srv .text{
    flex: 1;
}
.services .container .content .col .srv .text h3{
    margin-bottom: 30px;  
    color: var(--main-color); 
} 
.services .container .content .col .srv .text P{
    line-height: 30px;
    color: #777;
}
/* end services */
/* start design */
.design{
    background-image: url(../images/design-features.jpg);
    background-size: cover;
    position: relative;
    z-index: -2;
    height: 600px;
    margin: var(--main-padding) 0;
    overflow: hidden;
    opacity: 0;
    transition: 1.5s;
}
.design::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    z-index: -1;
    top: 0;
    left:0px;
}
.design .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translatey(-50%);
}
.design .content .imges {
    flex: 1;
    position: relative;
}
.design .content .imges img{
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: -65px;
}
.design .content .box{
    flex-basis: 50%;
    background-color: var(--transparent-color);
}
/* large */
@media (max-width:1200px) {
    .design .content .imges img{
        display: none;
    }
    .design .content .box{
        flex-basis: 100% ;
    }
}
.design .content .text{
    color: #fff;
    padding: 50px;
}
.design .content .text h4{
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.design .content .text ul{
    list-style: none;
}
.design .content .text ul li{
    margin-bottom: 22px;
}
.design .content .text ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* end design */
/* start portfolio */
.portfolio{
    padding: var(--main-padding) 0;
    opacity: 0;
    transition: 1.5s;
}
.portfolio .links{
    
}
.portfolio .links ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 80px;
    position: relative;
    margin: 80px auto 0;
    width: fit-content;
}
.portfolio .links span{
    position: absolute;
    width: 38px;
    height: 38px;
    background-color: var(--main-color);
    top: 5px;
    left: 5px;
    z-index: -1;
    transition: 0.2s;
}

.portfolio .container .links ul li{
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.portfolio .img-contain{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.portfolio .img-contain .box{
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
}
@media (max-width:1200px){
    .portfolio .img-contain .box{
        flex-basis:50%;
    }
}
@media (max-width:768px){
    .portfolio .img-contain .box{
        flex-basis:100%;
    }
}
.portfolio .img-contain .box:hover .text{
    bottom: 0;
}
.portfolio .img-contain .box:hover img{
    transform: rotate(3deg) scale( 1.1);
}
.portfolio .img-contain .box img{
    width:100%;
    transition: 0.3s;
}
.portfolio .img-contain .box .text{
    position: absolute;
    width: 100%;
    z-index: 1;
    padding: 15px;
    background-color: #fff;
    bottom: -100px;
    transition: 0.3s;
}
.portfolio .img-contain .box .text h4{
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 10px;
}
.portfolio .img-contain .box .text p{
    color: var(--main-color);
}
.portfolio a{
    text-decoration: none;
    margin: auto;
    display: block;
    width: fit-content;
    padding: 15px 20px;
    margin-top: 30px;
    background-color: var(--main-color);
    color: #fff;
    text-transform: uppercase;
}
/* end portfolio */
/* start video */
.video{
    width: 100%;
    height:100%;
    position: relative;
    margin: var(--main-padding) 0;
    opacity: 0;
    transition: 1.5s;
}
.video video{
    width: 100%;
    height: 100%;
}
.video::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    z-index: 1;
    top: 0;
    left:0px;
}
.video .text{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    width: 100%;
    padding: 50px;
    background-color: var(--transparent-color); 
    z-index: 1;
    color: #fff;
}
.video .text h2{
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: normal;
}
.video .text p{
    margin-bottom: 25px;
}
.video .text button{
    padding: 11px;
    color: #fff;
    background-color: #000;
    border: none;
    text-transform: uppercase;
}
/* end video */
/* start about us */
.about-us{
    text-align: center;
    padding-top:var(--main-padding) ;
}
.about-us img{
    bottom: -150px;
    position: relative;
    margin-top: -49px;
}
/* small */
@media (max-width:768px) {
    .about-us img{
        width: 80%;
        bottom: -74px;
        margin-top: -19px;
    }
}
/* end about us */
/* start stats */
.stats{
    background-image: url(../images/stats.png);
    background-size: cover;
    position: relative;
    padding: 90px 0;
}
.stats::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
    top: 0;
    left:0px;
}
.stats .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.stats .container .box{
    padding: 50px 0;
    color: #fff;
    background-color: var(--transparent-color);
    flex-basis: 25%;
    z-index: 1;
}
/* medime */
@media (max-width:992px){
    .stats .container .box{
        flex-basis: 50%;
    }
    
}
/* small */
@media (max-width:768px){
    .stats .container .box{
        flex-basis: 100%;
    }
}

.stats .container .box i{
    width: 40px;
    height: 40px;
    border: 10px solid #000;
    border-radius: 50%;
    background-color: #000;
    margin-bottom: 20px;
}
.stats .container .box .number{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
/* end stats */
/* start skill */
.skill{
    padding: var(--main-padding) 0;
    margin-top: 50px;
}
.skill .container{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    flex-wrap: wrap;
}
.skill .box{
    flex-basis: 45%;
    margin-bottom: 50px;
    position: relative;
}
.skill .box .top{
    text-align: center;
    margin-bottom: 50px;
}
.skill .box .top h3{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    font-weight: bold;
}
.skill .box .top p{
    color: #777;
    line-height: 26px;
}
.skill .box .person{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
.skill .box .person img{
    width: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.skill .box .person .text{
    flex-basis: 68%;
    line-height: 30px;
}
.skill .box .person .text p{
    text-align: end;
    color: #777;
    font-size: 14px;
    display: block;
    border-bottom: 1px solid #777;
    padding-bottom: 10px;
}

.skill .box{

}
.skill .box .slide{ 
    margin-bottom: 35px;
}
.skill .box h4{
    margin-bottom: 13px;
    font-weight: normal;
    text-transform: uppercase;
}
.skill .box .on{
    width: 500px;
    background-color: #dedadc;
    height: 32px;
}
.skill .box .on span{
    position: relative;
    background-color: var(--main-color);
    display: block;
    height: 100%;
}
.skill .box .on span::before{
    position: absolute;
    content: attr(data-number);
    width: 19px;
    height: 18px;
    border: solid 1px black;
    top: -30px;
    right: -10px;
    border-radius: 4px;
    font-size: 13px;
    text-align: center;
}
.skill .box .on span::after{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    top: -10px;
    right: -7px;
    border: solid 7px black;
    border-color: #b3a3a3 transparent transparent;
}
.skill .hidden{
    display: none;
}
/* medume */
@media (max-width:992px){
    .skill .container{
        justify-content: center;
    }
    .skill .container .box{
        flex-basis: 90%;
    }
    .skill .box .on {
        width: 100%;
    }
}
/* small */
@media (max-width:768px){
    .skill .container .box{
        flex-basis: 100%;
    }
    .skill .box .person {
        flex-direction: column;
        text-align: center;
    }

}
.skill ul{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    list-style: none;
    transform: translatex(-50%);
}
.skill ul li{
    margin-left: 10px;
    border: 1px solid #777;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}
.skill ul .active{
    background-color: var(--main-color);
    border: none;
}
/* end skill */
/* start quote */
.quote{
    background-image: url(../images/quote.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
    height: 298px;
    margin: var(--main-padding) 0;
    opacity: 0;
    transition: 1.5s;
}
.quote::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
    top: 0;
    left:0px;
}
.quote .container{
    color: #fff;
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translatey(-50px);
}
.quote .container q{
    font-size: 29px;
    margin-bottom: 15px;
    display: block;
}
/* end auote */
/* start pricing */
.pricing{
    padding: var(--main-padding) 0;
    opacity: 0;
    transition: 1.5s;
}
.pricing .container p{
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}
.pricing .container .link{
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
}
.pricing .container .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.pricing .container .content .col{
    text-align: center;
    flex-basis: 23%;
    background-color: #fcfcfc
}
.pricing .container .content .col .uper{
    width: 100%;
    border-bottom: 1px solid var(--main-color);
    border-top: 1px solid var(--main-color);
    padding: 35px 0
}
.pricing .container .content .col .uper h3{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.pricing .container .content .col .uper span{
    font-size: 50px;
    font-weight: bold;
    position: relative;
}
.pricing .container .content .col .uper span::before{
    content: "$";
    position: absolute;
    top: -4px;
    left: -20px;
    font-size: 20px;
}
.pricing .container .content .col .uper span::after{
    content: "/ m";
    position: absolute;
    top: 35px;
    right: -44px;
    font-size: 20px;
}
.pricing .container .content .col ul{
    list-style: none;
}
.pricing .container .content .col ul li{
    padding: 20px 0;
    border-bottom: 1px solid var(--main-color);
    width: fit-content;
    margin: auto;
}
.pricing .container .content .col ul li:last-child{
    border:none;
}
.pricing .container .content .col .foot{    
    width: 100%;
    padding: 50px 0;
    display: block;
    border-top: 1px solid var(--main-color);
}
.pricing .container .content .col .foot a{
    text-decoration: none;
    padding: 20px;
    border: 1px solid var(--main-color);
}
/* medium */
@media (max-width:992px){
    .pricing .container .content .col{
        flex-basis: 45%;
        margin-bottom: 50px;
    }
}
/* small */
@media (max-width:570px){
    .pricing .container .content .col{
        flex-basis: 100%;
        margin-bottom: 50px;
    }
}
/* end pricing */
/* start supscripe*/
.supscripe{
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    padding: var(--main-padding) 0;
    padding: 90px 0;
    margin: var(--main-padding) 0;
}
.supscripe::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    top: 0;
    left:0px;
}
.supscripe .container{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.supscripe .container form{
    flex-basis: 37%;
    position: relative;
}
.supscripe .container form i{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 18px;
    font-size: 24px;

}
.supscripe .container form input[type="email"]{
    width: calc(100% - 130px);
    position: relative;
    height: 61px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-right: none;
    padding-left: 51px;
}
.supscripe .container form input[type="email"]:focus{
    outline: none;
}
.supscripe .container form input[type="submit"]{
    position: absolute;
    width: 120px;
    color: #fff;
    background-color: var(--main-color);
    height: 61px;
    border: 1px solid #fff;
    border-left: none;
}
.supscripe .container p{
    flex-basis: 57%;
    color: #fff;
    line-height: 2.2;
}
@media (max-width:992px){
    .supscripe .container{
        flex-wrap: wrap;
    }
    .supscripe .container form{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .supscripe .container p{
        flex-basis: 100%;
    }
}
/* end supscripe */
/* start contact us */
.contact-us{

}
.contact-us .content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
}
.contact-us .content form {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    position: relative;
    height: 470px;
}
.contact-us .content form input[type="text"]{
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;    
}
.contact-us .content form input[type="email"]{
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
}
.contact-us .content form input[type="submit"]{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px 20px;
    background-color: var(--main-color);
    border: none;
    text-transform: uppercase;
    color: #fff;
}
.contact-us .content form textarea{
    width: 100%;
    padding: 20px;
    height: 200px;
}
.contact-us .content .text{
    
}
.contact-us .content .text h4{
    margin-bottom: 30px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
}
.contact-us .content .text h4:nth-of-type(2){
    margin-top: 96px;
}
.contact-us .content .text span{
    display: block;
    color: #777;
}
.contact-us .content .text address{
    line-height: 2;
    color: #777;
}
@media (max-width:500px) {
    .contact-us .content form {
    width: 100%;
}
.contact-us .content form input[type="submit"] {
    bottom: -52px;
}
.contact-us .content {
    flex-direction: column;
}
.contact-us .content .text {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
}
/* end contact us */
/* start fotter*/
.fotter{
    position: relative;
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    color: #fff;
    padding: 50px 0 20px 0;
    margin-top: 100px;
}
.fotter::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    top: 0;
    left:0px;
}
.fotter .container{
    text-align: center;
    position: relative;
}
.fotter .container img{
    padding-bottom: 40px;
    position: relative;
}
/* .fotter .container .imgMove{
    position: relative;
    width: fit-content;
    margin: auto;
}
.fotter .container .imgMove span:nth-child(2) {
    position: absolute;
    width: 4px;
    top: 9.4px;
    height: 4px;
    left: 16px;
    background-color: red;
    border-radius: 50%;
    animation: close 0.3s alternate infinite    ;

}
.fotter .container .imgMove span:last-child {
    position: absolute;
    width: 4px;
    top: 9.4px;
    height: 4px;
    left: 7px;
    background-color: red;
    border-radius: 50%;
    animation: close 0.3s alternate infinite;
}
@keyframes close {
    0%,100%{
    top: 9.4px;
    height: 4px;
    }
    50%{
    top: 11px;
    height: 0px;
    }
    
} */
.fotter .container h3{
    text-transform: uppercase;
    font-weight: normal;
    border-bottom: 1px solid;
    width: fit-content;
    margin: auto;
    padding: 15px;  
}
.fotter .container .links{

}
.fotter .container .links i{
    padding: 10px;
    margin: 29px 5px;
}
.fotter .container p{
    margin: 29px;
}
.fotter .container p span{
    color: var(--main-color);
}
/* end fotter */
.show{
    opacity: 1;
}